// fonts
$fs: 16px;

$ff-primary: 'Stem';

// colors
:root {
  --color-white: #fff;
}

// media breakpoints
$breakpoint-xs: 375px;
$breakpoint-s: 576px;
$breakpoint-m: 768px;
$breakpoint-t: 1024px;
// $breakpoint: 1280px;
$breakpoint: 1024px;
$breakpoint-l: 1366px;
$breakpoint-ll: 1440px;
$breakpoint-xl: 1680px;
$breakpoint-xxl: 1920px;

// colors
$colors: (
  black: #363b40,
  white: #fff,
  blue: #0050b3,
  yellow-hover: #fad03a,
  borders: #f5ede0,
  gray: #6e7275,
  gray-light: #f8f5ee,
  gray-alt: #ebe8de,
  gray-third: #d7d4c8,
  error: #f68b70,
  brown: #ecbb7c,
  new-secondary: #fcecc8,
);
@function color($variant: black) {
  @return map.get($colors, $variant);
}

// grid columns
$col-count-m: 4;
$col-count-t: 8;
$col-count-d: 12;

$col-pad-m: rem(20px);
$col-pad-d: rem(60px);

$col-gap-m: rem(20px);
$col-gap-d: rem(40px);

$col-width-m: '((100vw - (#{$col-pad-m} * 2) - (#{$col-gap-m} * #{$col-count-m - 1})) / #{$col-count-m})';
$col-width-t: '((100vw - (#{$col-pad-m} * 2) - (#{$col-gap-m} * #{$col-count-t - 1})) / #{$col-count-t})';
$col-width-d: '((100vw - (#{$col-pad-d} * 2) - (#{$col-gap-d} * #{$col-count-d - 1})) / #{$col-count-d})';

$col-part-m: '(#{$col-width-m} + #{$col-gap-m})';
$col-part-t: '(#{$col-width-t} + #{$col-gap-m})';
$col-part-d: '(#{$col-width-d} + #{$col-gap-d})';

// transitions
$transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
$transition-duration: 0.5s;
$transition: $transition-duration $transition-timing-function;
