.button {
  $comp: &;
  position: relative;
  z-index: 0;
  padding: 0 rem(32px);
  @media (max-width: ($breakpoint - 1px)) {
    padding: 0 rem(16px);

    height: rem(40px);
  }
  height: rem(60px);
  display: flex;
  align-items: center;

  color: color(white);
  background-color: color(blue);
  border-radius: rem(74px);
  cursor: pointer;
  border: none;
  overflow: hidden;

  &:hover {
    color: color(black);

    &::after {
      transform: none;
    }

    #{$comp}__svg {
      path {
        fill: color(black);
      }
    }
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;

    width: 100%;
    height: 100%;

    background-color: color(brown);
    transform: translateY(-110%);
    transition: $transition;
  }

  &--gray {
    color: color(black);
    border: 2px solid color(borders);
    background-color: color(white);

    #{$comp}__svg {
      path {
        fill: color(black);
      }
    }
  }

  &--brown {
    color: #fff;
    border: 2px solid #ecbb7c;
    background-color: transparent;

    &:hover {
      color: #fff;

      &::after {
        transform: none;
      }
    }
  }

  &--wide-mobile {
    @media (max-width: ($breakpoint - 1px)) {
      width: 100%;
      justify-content: center;
    }
  }

  &--small {
    padding: 0 rem(17px);
    height: rem(40px);
    @media (max-width: ($breakpoint - 1px)) {
      padding: 0 rem(14px);
      height: rem(32px);
    }
  }

  &__text {
    transition: $transition;
    @include fsl(16px, 100%);
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(14px);
    }
  }

  &__icon {
    margin-left: rem(8px);
    @media (max-width: ($breakpoint - 1px)) {
      margin-left: rem(4px);
    }
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__svg {
    --size: #{rem(20px)};
    @media (max-width: ($breakpoint - 1px)) {
      --size: #{rem(16px)};
    }
    width: var(--size);
    height: var(--size);

    &.right {
      transform: rotate(-90deg);
    }

    path {
      transition: $transition;
      fill: color(white);
    }
  }
}
