.select {
  width: 100%;
  
  // @media (max-width: ($breakpoint - 1px)) {
  //   position: relative;
  // }
  
  transition: $transition;

  &.disabled {
    opacity: 0.4;
    pointer-events: none;
  }

  &.parsley-error {
    .select2-container {
      .select2-selection {
        border-color: color(error);
      }
    }
  }

  &.select--small {

    .select2-container {
      .select2-selection {
        padding: rem(15px) rem(20px);
        @media (max-width: ($breakpoint - 1px)) {
          padding: rem(5px) rem(12px);
        }

        &__rendered {
          margin-right: rem(10px);
          @media (max-width: ($breakpoint - 1px)) {
            margin-right: rem(4px);
            text-overflow: clip;
          }
        }
      }
    }
  }

  .select2-container {

    &.select2-container--open {
      .select2-selection {
        // border-color: color(blue);

        &__arrow {

          b {
            transform: rotate(180deg);
          }
        }
      }
    }

    .select2-selection {
      padding: rem(20px);
      @media (max-width: ($breakpoint - 1px)) {
        padding: rem(12px) rem(16px);
      }

      height: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;

      border: 2px solid color(borders);
      border-radius: rem(4px);
      transition: $transition;

      &:hover {
        border-color: color(blue);
      }

      &__rendered {
        padding: 0;
        margin-right: rem(10px);

        color: color(black);
        @include fsl(16px, 100%);
        @media (max-width: ($breakpoint - 1px)) {
          @include fsl(14px);
        }
      }

      &__placeholder {
        color: color(black);
      }

      &__arrow {
        position: relative;
        top: 0;
        right: 0;

        width: rem(20px);
        height: rem(20px);
        @media (max-width: ($breakpoint - 1px)) {
          width: rem(16px);
          height: rem(16px);
        }
        
        transition: $transition;

        b {
          margin: 0;
          top: 0;
          left: 0;
          
          width: 100%;
          height: 100%;
          // transform: translate(-50%, -50%);

          border: none;
          background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.862 4.8623L13.8048 5.80511L8.00005 11.6099L2.19531 5.80511L3.13812 4.8623L8.00005 9.72423L12.862 4.8623Z' fill='%233F3F40'/%3E%3C/svg%3E%0A");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          transition: $transition;
        }
      }
    }
  }

  &__mobile {
    // @include cover;
    width: 100%;
    height: 100%;
    opacity: 0;
    font-size: 16px;

    // @media #{media(">")} {
    //   display: none;
    // }
  }
}

.select-wrapper {

  &--years {
    .select2-container {
      @media (min-width: $breakpoint) {
        left: auto !important;
        right: 0;
      }
      width: rem(267px);
    }
  }


  .select2-container {

    // @media (max-width: ($breakpoint - 1px)) {
    //   pointer-events: none;
    // }
  }

  .select2-dropdown {
    margin-top: 4px;
    padding: rem(20px);
    @media (max-width: ($breakpoint - 1px)) {
      padding: rem(12px);
    }

    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: rem(4px);
    border: none;
  }

  .select2-container--default .select2-results>.select2-results__options {

    max-height: rem(250px);
    @media (max-width: ($breakpoint - 1px)) {
      max-height: rem(190px);
    }
    
    overflow-y: auto;
    @include scrollbar-hidden;
    // @include styled-scrollbar(color(borders-alt), 4px)
  }

  .select2-results__option {
    
    display: flex;
    align-items: center;

    @include fsl(16px, 100%);
    transition: $transition;
    @media (max-width: ($breakpoint - 1px)) {
      @include fsl(14px);
    }

    &--selected {
      background-color: color(white);
    }

    &--highlighted[aria-selected] {
      color:  color(blue);
      background-color: color(white);
    }

    &[aria-selected=true] {
      background-color: color(white); 
    }

    &:not(:first-child) {
      margin-top: rem(16px);
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: rem(8px);
      }
    }
  }

  &__option {
    display: flex;
    align-items: center;
  }
}