
mixin button
  button.button&attributes(attributes)
    .button__text 
      block

mixin button-icon
  button.button&attributes(attributes)
    .button__text 
      |#{attributes.text}
    .button__icon 
      if (attributes.block)
        block 
      else
        +arrow-svg.button__svg.right

mixin button-link-icon
  a.button(href="#" class=attributes.class) 
    .button__text 
      block
    .button__icon 
      +arrow-svg.button__svg.right