mixin picture
  picture.picture(class=attributes.class)
    source(srcset=`assets/images/${attributes.src}.webp` type="image/webp")
    img.picture__img(src=`assets/images/${attributes.src}.jpeg`, alt="")